{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Containers{% endblock %}

{% block body %}
    <h1>Containers</h1>
    <p>
        Found: {{ containers|length }}
    </p>
    <p>
        <button class="btn btn-{{ hasFilters ? 'warning':'primary' }}" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
    </p>
    <div class="collapse {{ hasFilters ? 'show':'' }}" id="collapseExample">
        <div class="card card-body">
            {{ form(form) }}
        </div>
    </div>

    <div class="row">
        {% for container in containers %}
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;" {{ stimulus_controller('container') }}>
                    <div class="card-header">
                        {{ container.Names }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if 'running' == container.State %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle"></span>
                            {% else %}
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
                            {% endif %}
                            {{ container.Image }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created: {{ container.RunningFor }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Status: {{ container.Status }}</h6>
                        <p class="card-text">{{ container.Ports }}</p>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-{{ 'running' == container.State ? 'danger':'success' }}"
                                    title="{{ 'running' == container.State ? 'Stop':'Start' }}"
                                    data-action="container#startStop"
                                    data-container-id-param="{{ container.ID }}"
                            >
                                <i class="bi bi-{{ 'running' == container.State ? 'square-fill':'caret-right-fill' }}"></i>
                            </button>
                            <button type="button" class="btn btn-warning"
                                    title="Pause"
                            >
                                <i class="bi bi-pause"></i>
                            </button>
                            <button type="button" class="btn btn-primary"
                                    title="Show Logs"
                                    data-container-action-param="logs"
                                    data-container-id-param="{{ container.ID }}"
                                    data-action="container#showModal"
                            >
                                <i class="bi bi-body-text"></i>
                            </button>
                            <button type="button" class="btn btn-primary"
                                    title="Inspect"
                                    data-container-action-param="inspect"
                                    data-container-id-param="{{ container.ID }}"
                                    data-action="container#showModal"
                            >
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    title="Remove"
                                    data-action="container#remove"
                                    data-container-id-param="{{ container.ID }}"
                            >
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-footer">
                        <pre class="console">{{ container.ID }}</pre>
                    </div>
                </div>
            </div>
        {% else %}
            <h3 class="alert alert-warning">No containers found :(</h3>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="containersModal" tabindex="-1" aria-labelledby="containersModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="containersModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <pre class="modal-body" id="containersModalContent">
                    ...
                </pre>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


